@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);

.name {
  font-family: 'Ubuntu';
}

body {
  background-image: url(../img/sos.png);
}

.jumbotron {
  margin-top: 5%;
}

.date {
  color: #420061;
}